body {
  font-family: 'Poppins', sans-serif;
}

.bg-gradient-to-br {
  animation: gradientMove 8s infinite alternate;
}

@keyframes gradientMove {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
